.css-1s3h25u-MuiPaper-root-MuiAccordion-root:first-of-type{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.css-1s3h25u-MuiPaper-root-MuiAccordion-root:last-of-type {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.summary{
    margin-left: 5px;
}