.css-1s3h25u-MuiPaper-root-MuiAccordion-root:first-of-type{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.css-1s3h25u-MuiPaper-root-MuiAccordion-root:last-of-type {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.summary{
    margin-left: 5px;
}

.css-ahj2mt-MuiTypography-root {
    margin: auto 0 !important;
}

.css-9n763x-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: 0px;
    max-height: 50px;
}

#Lunch {
    max-height: 50px;
}

.css-u78q51-MuiGrid-root{
    margin: auto 0 !important;
}

.css-6l9np2-MuiGrid-root{
    margin-right: 5px;
}

.MyIconButton:hover {
    background-color: inherit !important;
  }