.container-mobile {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.container-desktop {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px;
  margin-top: 5px;
}
.center-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-your-data-button {
  position: absolute;
  right: 0;
  // float: right;
  padding: 12px 12px;
}
