.css-15v22id-MuiAccordionDetails-root {
  padding: 2px 4px !important;
}

.productsDetail {
  .MuiList-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    max-width: none !important;
  }

  .MuiTypography-root {
    white-space: unset !important;
  }

  .products-detail-remove-button {
    color: rgba(0, 0, 0, 0.54) !important;
  }
}
